-- MySQL dump 10.13  Distrib 8.0.37, for Win64 (x86_64)
--
-- Host: localhost    Database: erp
-- ------------------------------------------------------
-- Server version	8.0.37

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `checksum` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `logs` text COLLATE utf8mb4_unicode_ci,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `applied_steps_count` int unsigned NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activitylog`
--

DROP TABLE IF EXISTS `activitylog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activitylog` (
  `id` int NOT NULL AUTO_INCREMENT,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `userId` int DEFAULT NULL,
  `userNameSnapshot` varchar(256) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `module` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entityType` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entityId` int DEFAULT NULL,
  `docNo` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `subAction` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `message` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL,
  `reason` text COLLATE utf8mb4_unicode_ci,
  `metadataJson` json DEFAULT NULL,
  `createdByRole` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ActivityLog_module_createdAt_idx` (`module`,`createdAt`),
  KEY `ActivityLog_entityType_entityId_idx` (`entityType`,`entityId`),
  KEY `ActivityLog_docNo_idx` (`docNo`),
  KEY `ActivityLog_userId_createdAt_idx` (`userId`,`createdAt`),
  CONSTRAINT `ActivityLog_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=188 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activitylog`
--

LOCK TABLES `activitylog` WRITE;
/*!40000 ALTER TABLE `activitylog` DISABLE KEYS */;
/*!40000 ALTER TABLE `activitylog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `appsetting`
--

DROP TABLE IF EXISTS `appsetting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `appsetting` (
  `id` int NOT NULL DEFAULT '1',
  `strictInventoryControl` tinyint(1) NOT NULL DEFAULT '0',
  `stockAdjustmentReverseRoles` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ADMIN_ONLY',
  `stockAdjustmentReverseWindowType` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'HOURS',
  `stockAdjustmentReverseWindowValue` int NOT NULL DEFAULT '24',
  `stockAdjustmentCreateRoles` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ADMIN_AND_STORE',
  `companyState` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `companyStateId` int DEFAULT NULL,
  `companyGstin` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `maxRegularSoBufferPercent` decimal(18,2) NOT NULL DEFAULT '10.00',
  PRIMARY KEY (`id`),
  KEY `AppSetting_companyStateId_fkey` (`companyStateId`),
  CONSTRAINT `AppSetting_companyStateId_fkey` FOREIGN KEY (`companyStateId`) REFERENCES `state` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `appsetting`
--

LOCK TABLES `appsetting` WRITE;
/*!40000 ALTER TABLE `appsetting` DISABLE KEYS */;
INSERT INTO `appsetting` VALUES (1,0,'ADMIN_ONLY','HOURS',24,'ADMIN_AND_STORE','Maharashtra',26,'27LAKSJ4754A1Z1',10.00);
/*!40000 ALTER TABLE `appsetting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditlog`
--

DROP TABLE IF EXISTS `auditlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditlog` (
  `id` int NOT NULL AUTO_INCREMENT,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `action` enum('CREATE','UPDATE','DELETE','APPROVE','REJECT','CANCEL','REVERSE','LOGIN','LOGOUT','LOGIN_FAILED','BLOCKED_DELETE') COLLATE utf8mb4_unicode_ci NOT NULL,
  `entityType` enum('ITEM','CUSTOMER','SUPPLIER','BOM','SALES_ORDER','WORK_ORDER','PRODUCTION_ENTRY','QC_ENTRY','DISPATCH','STOCK_ADJUSTMENT','CUSTOMER_RETURN','USER','SETTINGS','USER_SESSION') COLLATE utf8mb4_unicode_ci NOT NULL,
  `entityId` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `actorUserId` int DEFAULT NULL,
  `actorRole` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `summary` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` json DEFAULT NULL,
  `reason` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ipAddress` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `userAgent` varchar(256) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `AuditLog_entityType_entityId_createdAt_idx` (`entityType`,`entityId`,`createdAt`),
  KEY `AuditLog_actorUserId_createdAt_idx` (`actorUserId`,`createdAt`),
  KEY `AuditLog_createdAt_idx` (`createdAt`),
  CONSTRAINT `AuditLog_actorUserId_fkey` FOREIGN KEY (`actorUserId`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=306 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditlog`
--

LOCK TABLES `auditlog` WRITE;
/*!40000 ALTER TABLE `auditlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bom`
--

DROP TABLE IF EXISTS `bom`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bom` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fgItemId` int NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Bom_fgItemId_key` (`fgItemId`),
  CONSTRAINT `Bom_fgItemId_fkey` FOREIGN KEY (`fgItemId`) REFERENCES `item` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bom`
--

LOCK TABLES `bom` WRITE;
/*!40000 ALTER TABLE `bom` DISABLE KEYS */;
INSERT INTO `bom` VALUES (1,2,'2026-04-15 09:38:09.872','2026-04-15 09:38:09.872'),(2,3,'2026-04-15 09:38:20.685','2026-04-15 09:38:20.685');
/*!40000 ALTER TABLE `bom` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bomline`
--

DROP TABLE IF EXISTS `bomline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bomline` (
  `id` int NOT NULL AUTO_INCREMENT,
  `bomId` int NOT NULL,
  `rmItemId` int NOT NULL,
  `baseQty` decimal(18,3) NOT NULL,
  `wastagePercent` decimal(18,3) NOT NULL DEFAULT '0.000',
  PRIMARY KEY (`id`),
  UNIQUE KEY `BomLine_bomId_rmItemId_key` (`bomId`,`rmItemId`),
  KEY `BomLine_rmItemId_idx` (`rmItemId`),
  CONSTRAINT `BomLine_bomId_fkey` FOREIGN KEY (`bomId`) REFERENCES `bom` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `BomLine_rmItemId_fkey` FOREIGN KEY (`rmItemId`) REFERENCES `item` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bomline`
--

LOCK TABLES `bomline` WRITE;
/*!40000 ALTER TABLE `bomline` DISABLE KEYS */;
INSERT INTO `bomline` VALUES (1,1,1,0.003,5.000),(2,2,1,0.024,5.000);
/*!40000 ALTER TABLE `bomline` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contact` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `address` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gst` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `state` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stateId` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Customer_stateId_idx` (`stateId`),
  CONSTRAINT `Customer_stateId_fkey` FOREIGN KEY (`stateId`) REFERENCES `state` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer`
--

LOCK TABLES `customer` WRITE;
/*!40000 ALTER TABLE `customer` DISABLE KEYS */;
INSERT INTO `customer` VALUES (1,'ABC','9854788557',NULL,NULL,'27ALSKH1421A1Z8','2026-04-15 09:19:21.566','2026-04-15 09:19:21.566',NULL,26),(2,'Mohit','7854652145',NULL,NULL,'27ALSKJ1412A1Z5','2026-04-16 18:13:52.742','2026-04-16 18:13:52.742',NULL,23),(3,'Kamal','9854785458',NULL,NULL,'27ALSKJ1214A1Z5','2026-04-18 09:33:37.886','2026-04-18 09:34:13.891',NULL,26),(4,'Nilkamal','7451256658',NULL,NULL,'27AKSJH1412A1Z5','2026-04-19 15:48:10.480','2026-04-19 15:48:10.480',NULL,26),(5,'Crompton','6547854589',NULL,NULL,'27ALSKJ1214A1Z5','2026-04-21 12:22:46.081','2026-04-21 12:22:46.081',NULL,26);
/*!40000 ALTER TABLE `customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customerpo`
--

DROP TABLE IF EXISTS `customerpo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customerpo` (
  `id` int NOT NULL AUTO_INCREMENT,
  `customerId` int NOT NULL,
  `status` enum('PENDING','IN_PROGRESS','COMPLETED','REJECTED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `poNumber` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `poDate` datetime(3) NOT NULL,
  `requiredDate` datetime(3) DEFAULT NULL,
  `supplierId` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `CustomerPO_customerId_idx` (`customerId`),
  KEY `CustomerPO_status_idx` (`status`),
  KEY `CustomerPO_poNumber_idx` (`poNumber`),
  KEY `CustomerPO_supplierId_fkey` (`supplierId`),
  CONSTRAINT `CustomerPO_customerId_fkey` FOREIGN KEY (`customerId`) REFERENCES `customer` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `CustomerPO_supplierId_fkey` FOREIGN KEY (`supplierId`) REFERENCES `supplier` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customerpo`
--

LOCK TABLES `customerpo` WRITE;
/*!40000 ALTER TABLE `customerpo` DISABLE KEYS */;
/*!40000 ALTER TABLE `customerpo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customerpoline`
--

DROP TABLE IF EXISTS `customerpoline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customerpoline` (
  `id` int NOT NULL AUTO_INCREMENT,
  `poId` int NOT NULL,
  `itemId` int NOT NULL,
  `qty` decimal(18,3) NOT NULL,
  `rate` decimal(18,2) NOT NULL,
  `discountPct` decimal(18,2) NOT NULL DEFAULT '0.00',
  `gstPct` decimal(18,2) NOT NULL DEFAULT '18.00',
  `lineTotal` decimal(18,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `CustomerPOLine_poId_idx` (`poId`),
  KEY `CustomerPOLine_itemId_fkey` (`itemId`),
  CONSTRAINT `CustomerPOLine_itemId_fkey` FOREIGN KEY (`itemId`) REFERENCES `item` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `CustomerPOLine_poId_fkey` FOREIGN KEY (`poId`) REFERENCES `customerpo` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customerpoline`
--

LOCK TABLES `customerpoline` WRITE;
/*!40000 ALTER TABLE `customerpoline` DISABLE KEYS */;
/*!40000 ALTER TABLE `customerpoline` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customerreturn`
--

DROP TABLE IF EXISTS `customerreturn`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customerreturn` (
  `id` int NOT NULL AUTO_INCREMENT,
  `customerId` int NOT NULL,
  `dispatchId` int NOT NULL,
  `salesOrderId` int NOT NULL,
  `itemId` int NOT NULL,
  `returnedQty` decimal(18,3) NOT NULL,
  `reason` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `returnDate` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `disposition` enum('QC_HOLD','REWORK','TO_STOCK') COLLATE utf8mb4_unicode_ci NOT NULL,
  `remarks` text COLLATE utf8mb4_unicode_ci,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `reversedAt` datetime(3) DEFAULT NULL,
  `currentBucket` enum('USABLE','QC_HOLD','QC_PENDING','REWORK','SCRAP') COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('IN_REWORK','IN_QC_HOLD','APPROVED_TO_STOCK','SCRAPPED','REVERSED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'IN_QC_HOLD',
  `closedAt` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `CustomerReturn_customerId_returnDate_idx` (`customerId`,`returnDate`),
  KEY `CustomerReturn_dispatchId_idx` (`dispatchId`),
  KEY `CustomerReturn_salesOrderId_itemId_idx` (`salesOrderId`,`itemId`),
  KEY `CustomerReturn_reversedAt_idx` (`reversedAt`),
  KEY `CustomerReturn_itemId_fkey` (`itemId`),
  CONSTRAINT `CustomerReturn_customerId_fkey` FOREIGN KEY (`customerId`) REFERENCES `customer` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `CustomerReturn_dispatchId_fkey` FOREIGN KEY (`dispatchId`) REFERENCES `dispatch` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `CustomerReturn_itemId_fkey` FOREIGN KEY (`itemId`) REFERENCES `item` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `CustomerReturn_salesOrderId_fkey` FOREIGN KEY (`salesOrderId`) REFERENCES `salesorder` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customerreturn`
--

LOCK TABLES `customerreturn` WRITE;
/*!40000 ALTER TABLE `customerreturn` DISABLE KEYS */;
/*!40000 ALTER TABLE `customerreturn` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dispatch`
--

DROP TABLE IF EXISTS `dispatch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dispatch` (
  `id` int NOT NULL AUTO_INCREMENT,
  `soId` int NOT NULL,
  `dispatchedQty` decimal(18,3) NOT NULL,
  `date` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `reversalOfId` int DEFAULT NULL,
  `reversalReason` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `workflowStatus` enum('UNLOCKED','LOCKED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'LOCKED',
  `itemId` int NOT NULL,
  `cycleId` int DEFAULT NULL,
  `docNo` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Dispatch_docNo_key` (`docNo`),
  KEY `Dispatch_soId_idx` (`soId`),
  KEY `Dispatch_date_idx` (`date`),
  KEY `Dispatch_reversalOfId_idx` (`reversalOfId`),
  KEY `Dispatch_itemId_fkey` (`itemId`),
  KEY `Dispatch_cycleId_idx` (`cycleId`),
  CONSTRAINT `Dispatch_cycleId_fkey` FOREIGN KEY (`cycleId`) REFERENCES `salesordercycle` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `Dispatch_itemId_fkey` FOREIGN KEY (`itemId`) REFERENCES `item` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Dispatch_reversalOfId_fkey` FOREIGN KEY (`reversalOfId`) REFERENCES `dispatch` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Dispatch_soId_fkey` FOREIGN KEY (`soId`) REFERENCES `salesorder` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dispatch`
--

LOCK TABLES `dispatch` WRITE;
/*!40000 ALTER TABLE `dispatch` DISABLE KEYS */;
/*!40000 ALTER TABLE `dispatch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `docsequence`
--

DROP TABLE IF EXISTS `docsequence`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `docsequence` (
  `id` int NOT NULL AUTO_INCREMENT,
  `docType` enum('SALES_ORDER','WORK_ORDER','PRODUCTION_ENTRY','QC_ENTRY','DISPATCH','SALES_BILL','REQUIREMENT_SHEET') COLLATE utf8mb4_unicode_ci NOT NULL,
  `year2` int NOT NULL,
  `nextNumber` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `DocSequence_docType_year2_key` (`docType`,`year2`),
  KEY `DocSequence_docType_year2_idx` (`docType`,`year2`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `docsequence`
--

LOCK TABLES `docsequence` WRITE;
/*!40000 ALTER TABLE `docsequence` DISABLE KEYS */;
INSERT INTO `docsequence` VALUES (1,'SALES_ORDER',26,18),(2,'WORK_ORDER',26,21),(3,'PRODUCTION_ENTRY',26,23),(4,'QC_ENTRY',26,21),(5,'DISPATCH',26,31),(6,'SALES_BILL',26,21),(7,'REQUIREMENT_SHEET',26,13);
/*!40000 ALTER TABLE `docsequence` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enquiry`
--

DROP TABLE IF EXISTS `enquiry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `enquiry` (
  `id` int NOT NULL AUTO_INCREMENT,
  `customerId` int NOT NULL,
  `status` enum('DRAFT','OPEN','PENDING','FEASIBLE','NOT_FEASIBLE','QUOTED','PO_RECEIVED','CLOSED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `remarks` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Enquiry_customerId_idx` (`customerId`),
  KEY `Enquiry_status_idx` (`status`),
  CONSTRAINT `Enquiry_customerId_fkey` FOREIGN KEY (`customerId`) REFERENCES `customer` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enquiry`
--

LOCK TABLES `enquiry` WRITE;
/*!40000 ALTER TABLE `enquiry` DISABLE KEYS */;
/*!40000 ALTER TABLE `enquiry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enquiryline`
--

DROP TABLE IF EXISTS `enquiryline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `enquiryline` (
  `id` int NOT NULL AUTO_INCREMENT,
  `enquiryId` int NOT NULL,
  `itemId` int NOT NULL,
  `qty` decimal(18,3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `EnquiryLine_enquiryId_idx` (`enquiryId`),
  KEY `EnquiryLine_itemId_fkey` (`itemId`),
  CONSTRAINT `EnquiryLine_enquiryId_fkey` FOREIGN KEY (`enquiryId`) REFERENCES `enquiry` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `EnquiryLine_itemId_fkey` FOREIGN KEY (`itemId`) REFERENCES `item` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enquiryline`
--

LOCK TABLES `enquiryline` WRITE;
/*!40000 ALTER TABLE `enquiryline` DISABLE KEYS */;
INSERT INTO `enquiryline` VALUES (12,12,3,1000.000),(13,13,3,5000.000),(14,14,2,1500.000),(17,17,3,18000.000),(18,18,2,1800.000),(19,19,3,1800.000),(20,20,2,2500.000),(21,21,3,1500.000),(22,22,2,15000.000),(23,23,3,5800.000);
/*!40000 ALTER TABLE `enquiryline` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feasibility`
--

DROP TABLE IF EXISTS `feasibility`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feasibility` (
  `id` int NOT NULL AUTO_INCREMENT,
  `enquiryId` int NOT NULL,
  `status` enum('PENDING','IN_PROGRESS','COMPLETED','REJECTED') COLLATE utf8mb4_unicode_ci NOT NULL,
  `remarks` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Feasibility_enquiryId_key` (`enquiryId`),
  CONSTRAINT `Feasibility_enquiryId_fkey` FOREIGN KEY (`enquiryId`) REFERENCES `enquiry` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feasibility`
--

LOCK TABLES `feasibility` WRITE;
/*!40000 ALTER TABLE `feasibility` DISABLE KEYS */;
/*!40000 ALTER TABLE `feasibility` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grn`
--

DROP TABLE IF EXISTS `grn`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `grn` (
  `id` int NOT NULL AUTO_INCREMENT,
  `rmPoId` int NOT NULL,
  `date` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `reversedAt` datetime(3) DEFAULT NULL,
  `reversalReason` text COLLATE utf8mb4_unicode_ci,
  `billingStatus` enum('PENDING','BILLED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  PRIMARY KEY (`id`),
  KEY `Grn_rmPoId_idx` (`rmPoId`),
  KEY `Grn_date_idx` (`date`),
  KEY `Grn_reversedAt_idx` (`reversedAt`),
  KEY `Grn_billingStatus_idx` (`billingStatus`),
  CONSTRAINT `Grn_rmPoId_fkey` FOREIGN KEY (`rmPoId`) REFERENCES `rmpurchaseorder` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grn`
--

LOCK TABLES `grn` WRITE;
/*!40000 ALTER TABLE `grn` DISABLE KEYS */;
INSERT INTO `grn` VALUES (1,1,'2026-04-24 09:34:09.011',NULL,NULL,'PENDING'),(2,2,'2026-04-24 10:06:02.808','2026-04-24 10:06:31.008','test','PENDING'),(3,2,'2026-04-24 10:07:52.223',NULL,NULL,'PENDING'),(4,3,'2026-04-24 10:50:23.531',NULL,NULL,'PENDING'),(5,4,'2026-04-24 11:12:12.581',NULL,NULL,'PENDING'),(6,5,'2026-04-24 17:44:09.988',NULL,NULL,'PENDING'),(7,6,'2026-04-28 19:12:51.371',NULL,NULL,'PENDING'),(8,7,'2026-04-29 19:13:43.004',NULL,NULL,'PENDING'),(9,8,'2026-04-29 19:15:56.368',NULL,NULL,'PENDING');
/*!40000 ALTER TABLE `grn` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grnline`
--

DROP TABLE IF EXISTS `grnline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `grnline` (
  `id` int NOT NULL AUTO_INCREMENT,
  `grnId` int NOT NULL,
  `rmPoLineId` int NOT NULL,
  `receivedQty` decimal(18,3) NOT NULL,
  `rateSnapshot` decimal(18,4) NOT NULL DEFAULT '0.0000',
  PRIMARY KEY (`id`),
  KEY `GrnLine_grnId_idx` (`grnId`),
  KEY `GrnLine_rmPoLineId_idx` (`rmPoLineId`),
  CONSTRAINT `GrnLine_grnId_fkey` FOREIGN KEY (`grnId`) REFERENCES `grn` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `GrnLine_rmPoLineId_fkey` FOREIGN KEY (`rmPoLineId`) REFERENCES `rmpurchaseorderline` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grnline`
--

LOCK TABLES `grnline` WRITE;
/*!40000 ALTER TABLE `grnline` DISABLE KEYS */;
INSERT INTO `grnline` VALUES (1,1,1,500.000,165.0000),(2,2,2,15000.000,175.0000),(3,3,2,15000.000,175.0000),(4,4,3,500.000,175.0000),(5,5,4,100.000,165.0000),(6,6,5,500.000,175.0000),(7,7,6,500.000,165.0000),(8,8,7,500.000,135.0000),(9,9,8,20.000,185.0000);
/*!40000 ALTER TABLE `grnline` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `idempotencyrecord`
--

DROP TABLE IF EXISTS `idempotencyrecord`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `idempotencyrecord` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int NOT NULL,
  `routeKey` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `idempotencyKey` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `requestBodyHash` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `responseStatus` int DEFAULT NULL,
  `responseBody` text COLLATE utf8mb4_unicode_ci,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `expiresAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `IdempotencyRecord_userId_routeKey_idempotencyKey_key` (`userId`,`routeKey`,`idempotencyKey`),
  KEY `IdempotencyRecord_expiresAt_idx` (`expiresAt`),
  CONSTRAINT `IdempotencyRecord_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `idempotencyrecord`
--

LOCK TABLES `idempotencyrecord` WRITE;
/*!40000 ALTER TABLE `idempotencyrecord` DISABLE KEYS */;
/*!40000 ALTER TABLE `idempotencyrecord` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item`
--

DROP TABLE IF EXISTS `item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item` (
  `id` int NOT NULL AUTO_INCREMENT,
  `itemName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `itemType` enum('RM','FG') COLLATE utf8mb4_unicode_ci NOT NULL,
  `unit` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `minStockLevel` decimal(18,3) NOT NULL DEFAULT '0.000',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `hsnCode` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gstRate` decimal(5,2) DEFAULT NULL,
  `unitId` int DEFAULT NULL,
  `planningGapGreenThresholdPercent` decimal(5,2) DEFAULT NULL,
  `planningGapYellowThresholdPercent` decimal(5,2) DEFAULT NULL,
  `redThresholdPercent` decimal(5,2) DEFAULT NULL,
  `yellowThresholdPercent` decimal(5,2) DEFAULT NULL,
  `planningBufferPercent` decimal(5,2) DEFAULT NULL,
  `minimumStockQty` decimal(18,3) DEFAULT NULL,
  `reorderQty` decimal(18,3) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Item_itemType_idx` (`itemType`),
  KEY `Item_unitId_idx` (`unitId`),
  CONSTRAINT `Item_unitId_fkey` FOREIGN KEY (`unitId`) REFERENCES `unit` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item`
--

LOCK TABLES `item` WRITE;
/*!40000 ALTER TABLE `item` DISABLE KEYS */;
INSERT INTO `item` VALUES (1,'HDPE','RM','Kg',500.000,'2026-04-15 09:30:42.695','2026-04-16 19:22:59.862','2312245',18.00,2,NULL,NULL,NULL,NULL,NULL,NULL,NULL),(2,'Nozzle','FG','Nos',500.000,'2026-04-15 09:31:01.579','2026-04-16 19:22:53.179','2554665',18.00,1,NULL,NULL,30.00,20.00,NULL,NULL,NULL),(3,'Cap','FG','Nos',500.000,'2026-04-15 09:31:21.511','2026-04-16 19:22:41.133','6646111',18.00,1,NULL,NULL,30.00,20.00,NULL,NULL,NULL);
/*!40000 ALTER TABLE `item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productionentry`
--

DROP TABLE IF EXISTS `productionentry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `productionentry` (
  `id` int NOT NULL AUTO_INCREMENT,
  `producedQty` decimal(18,3) NOT NULL,
  `date` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `workOrderLineId` int NOT NULL,
  `workflowStatus` enum('DRAFT','APPROVED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DRAFT',
  `docNo` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ProductionEntry_docNo_key` (`docNo`),
  KEY `ProductionEntry_date_idx` (`date`),
  KEY `ProductionEntry_workOrderLineId_idx` (`workOrderLineId`),
  KEY `ProductionEntry_workflowStatus_idx` (`workflowStatus`),
  CONSTRAINT `ProductionEntry_workOrderLineId_fkey` FOREIGN KEY (`workOrderLineId`) REFERENCES `workorderline` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productionentry`
--

LOCK TABLES `productionentry` WRITE;
/*!40000 ALTER TABLE `productionentry` DISABLE KEYS */;
/*!40000 ALTER TABLE `productionentry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchasebill`
--

DROP TABLE IF EXISTS `purchasebill`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchasebill` (
  `id` int NOT NULL AUTO_INCREMENT,
  `billNo` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `billDate` date NOT NULL,
  `dueDate` date DEFAULT NULL,
  `supplierId` int NOT NULL,
  `grnId` int DEFAULT NULL,
  `remarks` text COLLATE utf8mb4_unicode_ci,
  `status` enum('DRAFT','FINALIZED','CANCELLED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DRAFT',
  `totalBasic` decimal(18,2) NOT NULL DEFAULT '0.00',
  `totalCgst` decimal(18,2) NOT NULL DEFAULT '0.00',
  `totalSgst` decimal(18,2) NOT NULL DEFAULT '0.00',
  `totalIgst` decimal(18,2) NOT NULL DEFAULT '0.00',
  `totalTax` decimal(18,2) NOT NULL DEFAULT '0.00',
  `netAmount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `finalizedAt` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `exportResetAt` datetime(3) DEFAULT NULL,
  `exportResetById` int DEFAULT NULL,
  `exportResetReason` text COLLATE utf8mb4_unicode_ci,
  `exportedAt` datetime(3) DEFAULT NULL,
  `exportedFileName` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `isExported` tinyint(1) NOT NULL DEFAULT '0',
  `supplierStateSnapshot` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `supplierStateCodeSnapshot` varchar(2) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hasTemporaryTaxData` tinyint(1) NOT NULL DEFAULT '0',
  `cancelledAt` datetime(3) DEFAULT NULL,
  `cancelReason` text COLLATE utf8mb4_unicode_ci,
  `cancelledById` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `PurchaseBill_supplierId_idx` (`supplierId`),
  KEY `PurchaseBill_billDate_idx` (`billDate`),
  KEY `PurchaseBill_status_idx` (`status`),
  KEY `PurchaseBill_isExported_idx` (`isExported`),
  KEY `PurchaseBill_exportResetById_idx` (`exportResetById`),
  KEY `PurchaseBill_grnId_fkey` (`grnId`),
  KEY `PurchaseBill_cancelledById_fkey` (`cancelledById`),
  CONSTRAINT `PurchaseBill_cancelledById_fkey` FOREIGN KEY (`cancelledById`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `PurchaseBill_exportResetById_fkey` FOREIGN KEY (`exportResetById`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `PurchaseBill_grnId_fkey` FOREIGN KEY (`grnId`) REFERENCES `grn` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `PurchaseBill_supplierId_fkey` FOREIGN KEY (`supplierId`) REFERENCES `supplier` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchasebill`
--

LOCK TABLES `purchasebill` WRITE;
/*!40000 ALTER TABLE `purchasebill` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchasebill` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchasebillline`
--

DROP TABLE IF EXISTS `purchasebillline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchasebillline` (
  `id` int NOT NULL AUTO_INCREMENT,
  `purchaseBillId` int NOT NULL,
  `itemId` int NOT NULL,
  `qty` decimal(18,3) NOT NULL,
  `unitSnapshot` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `rate` decimal(18,4) NOT NULL,
  `basicAmount` decimal(18,2) NOT NULL,
  `gstRate` decimal(5,2) NOT NULL,
  `cgstAmount` decimal(18,2) NOT NULL,
  `sgstAmount` decimal(18,2) NOT NULL,
  `igstAmount` decimal(18,2) NOT NULL,
  `lineTotal` decimal(18,2) NOT NULL,
  `hsnCodeSnapshot` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `itemNameSnapshot` varchar(256) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `grnId` int DEFAULT NULL,
  `grnLineId` int DEFAULT NULL,
  `rmPoId` int DEFAULT NULL,
  `rmPoLineId` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `PurchaseBillLine_purchaseBillId_idx` (`purchaseBillId`),
  KEY `PurchaseBillLine_itemId_idx` (`itemId`),
  KEY `PurchaseBillLine_grnLineId_idx` (`grnLineId`),
  KEY `PurchaseBillLine_grnId_idx` (`grnId`),
  KEY `PurchaseBillLine_rmPoId_idx` (`rmPoId`),
  CONSTRAINT `PurchaseBillLine_grnLineId_fkey` FOREIGN KEY (`grnLineId`) REFERENCES `grnline` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `PurchaseBillLine_itemId_fkey` FOREIGN KEY (`itemId`) REFERENCES `item` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `PurchaseBillLine_purchaseBillId_fkey` FOREIGN KEY (`purchaseBillId`) REFERENCES `purchasebill` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchasebillline`
--

LOCK TABLES `purchasebillline` WRITE;
/*!40000 ALTER TABLE `purchasebillline` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchasebillline` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qcentry`
--

DROP TABLE IF EXISTS `qcentry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `qcentry` (
  `id` int NOT NULL AUTO_INCREMENT,
  `productionId` int NOT NULL,
  `acceptedQty` decimal(18,3) NOT NULL,
  `rejectedQty` decimal(18,3) NOT NULL,
  `reason` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `scrapReusable` tinyint(1) NOT NULL DEFAULT '0',
  `lossQty` decimal(18,3) NOT NULL,
  `date` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `reversedAt` datetime(3) DEFAULT NULL,
  `reversalReason` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rejectedStockBucket` enum('USABLE','QC_HOLD','QC_PENDING','REWORK','SCRAP') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `docNo` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rejectedRoute` enum('REWORK','HOLD','SCRAP','USABLE') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `QcEntry_docNo_key` (`docNo`),
  KEY `QcEntry_productionId_idx` (`productionId`),
  KEY `QcEntry_date_idx` (`date`),
  CONSTRAINT `QcEntry_productionId_fkey` FOREIGN KEY (`productionId`) REFERENCES `productionentry` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qcentry`
--

LOCK TABLES `qcentry` WRITE;
/*!40000 ALTER TABLE `qcentry` DISABLE KEYS */;
/*!40000 ALTER TABLE `qcentry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qclegacyrejectedclassification`
--

DROP TABLE IF EXISTS `qclegacyrejectedclassification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `qclegacyrejectedclassification` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sourceQcEntryId` int NOT NULL,
  `workOrderId` int DEFAULT NULL,
  `itemId` int NOT NULL,
  `qty` decimal(18,3) NOT NULL,
  `action` enum('APPROVE_TO_USABLE','MOVE_TO_HOLD','SCRAP') COLLATE utf8mb4_unicode_ci NOT NULL,
  `fromStockBucket` enum('USABLE','QC_HOLD','QC_PENDING','REWORK','SCRAP') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `toStockBucket` enum('USABLE','QC_HOLD','QC_PENDING','REWORK','SCRAP') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `remarks` text COLLATE utf8mb4_unicode_ci,
  `createdByUserId` int NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `voidedAt` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `QcLegacyRejectedClassification_sourceQcEntryId_key` (`sourceQcEntryId`),
  KEY `QcLegacyRejectedClassification_itemId_idx` (`itemId`),
  KEY `QcLegacyRejectedClassification_createdAt_idx` (`createdAt`),
  KEY `QcLegacyRejectedClassification_workOrderId_fkey` (`workOrderId`),
  KEY `QcLegacyRejectedClassification_createdByUserId_fkey` (`createdByUserId`),
  CONSTRAINT `QcLegacyRejectedClassification_createdByUserId_fkey` FOREIGN KEY (`createdByUserId`) REFERENCES `user` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `QcLegacyRejectedClassification_itemId_fkey` FOREIGN KEY (`itemId`) REFERENCES `item` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `QcLegacyRejectedClassification_sourceQcEntryId_fkey` FOREIGN KEY (`sourceQcEntryId`) REFERENCES `qcentry` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `QcLegacyRejectedClassification_workOrderId_fkey` FOREIGN KEY (`workOrderId`) REFERENCES `workorder` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qclegacyrejectedclassification`
--

LOCK TABLES `qclegacyrejectedclassification` WRITE;
/*!40000 ALTER TABLE `qclegacyrejectedclassification` DISABLE KEYS */;
INSERT INTO `qclegacyrejectedclassification` VALUES (1,10,9,3,135.000,'APPROVE_TO_USABLE','QC_HOLD','USABLE',NULL,1,'2026-04-28 12:26:48.371',NULL);
/*!40000 ALTER TABLE `qclegacyrejectedclassification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qcrejecteddisposition`
--

DROP TABLE IF EXISTS `qcrejecteddisposition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `qcrejecteddisposition` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sourceQcEntryId` int NOT NULL,
  `workOrderId` int NOT NULL,
  `itemId` int NOT NULL,
  `qty` decimal(18,3) NOT NULL,
  `remainingQty` decimal(18,3) NOT NULL,
  `phase` enum('FIRST_QC','RECHECK') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'FIRST_QC',
  `status` enum('REWORK_PENDING_SUPERVISOR','REWORK_APPROVED_PENDING_EXECUTION','REWORK_READY_FOR_QC','HOLD','SCRAP','CLOSED') COLLATE utf8mb4_unicode_ci NOT NULL,
  `remarks` text COLLATE utf8mb4_unicode_ci,
  `createdByUserId` int DEFAULT NULL,
  `supervisorApprovedByUserId` int DEFAULT NULL,
  `supervisorApprovedAt` datetime(3) DEFAULT NULL,
  `supervisorDeniedAt` datetime(3) DEFAULT NULL,
  `closedAt` datetime(3) DEFAULT NULL,
  `voidedAt` datetime(3) DEFAULT NULL,
  `parentDispositionId` int DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3) ON UPDATE CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `QcRejectedDisposition_sourceQcEntryId_idx` (`sourceQcEntryId`),
  KEY `QcRejectedDisposition_workOrderId_idx` (`workOrderId`),
  KEY `QcRejectedDisposition_itemId_idx` (`itemId`),
  KEY `QcRejectedDisposition_status_idx` (`status`),
  KEY `QcRejectedDisposition_voidedAt_idx` (`voidedAt`),
  KEY `QcRejectedDisposition_createdByUserId_fkey` (`createdByUserId`),
  KEY `QcRejectedDisposition_supervisorApprovedByUserId_fkey` (`supervisorApprovedByUserId`),
  KEY `QcRejectedDisposition_parentDispositionId_fkey` (`parentDispositionId`),
  CONSTRAINT `QcRejectedDisposition_createdByUserId_fkey` FOREIGN KEY (`createdByUserId`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `QcRejectedDisposition_itemId_fkey` FOREIGN KEY (`itemId`) REFERENCES `item` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `QcRejectedDisposition_parentDispositionId_fkey` FOREIGN KEY (`parentDispositionId`) REFERENCES `qcrejecteddisposition` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `QcRejectedDisposition_sourceQcEntryId_fkey` FOREIGN KEY (`sourceQcEntryId`) REFERENCES `qcentry` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `QcRejectedDisposition_supervisorApprovedByUserId_fkey` FOREIGN KEY (`supervisorApprovedByUserId`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `QcRejectedDisposition_workOrderId_fkey` FOREIGN KEY (`workOrderId`) REFERENCES `workorder` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qcrejecteddisposition`
--

LOCK TABLES `qcrejecteddisposition` WRITE;
/*!40000 ALTER TABLE `qcrejecteddisposition` DISABLE KEYS */;
/*!40000 ALTER TABLE `qcrejecteddisposition` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qcreversal`
--

DROP TABLE IF EXISTS `qcreversal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `qcreversal` (
  `id` int NOT NULL AUTO_INCREMENT,
  `qcEntryId` int NOT NULL,
  `reason` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `QcReversal_qcEntryId_key` (`qcEntryId`),
  KEY `QcReversal_qcEntryId_idx` (`qcEntryId`),
  CONSTRAINT `QcReversal_qcEntryId_fkey` FOREIGN KEY (`qcEntryId`) REFERENCES `qcentry` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qcreversal`
--

LOCK TABLES `qcreversal` WRITE;
/*!40000 ALTER TABLE `qcreversal` DISABLE KEYS */;
/*!40000 ALTER TABLE `qcreversal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quotation`
--

DROP TABLE IF EXISTS `quotation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quotation` (
  `id` int NOT NULL AUTO_INCREMENT,
  `enquiryId` int NOT NULL,
  `status` enum('PENDING','IN_PROGRESS','COMPLETED','REJECTED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `approvalCancelReason` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `approvalCancelledAt` datetime(3) DEFAULT NULL,
  `approvalCancelledByUserId` int DEFAULT NULL,
  `gstTotal` decimal(18,2) NOT NULL DEFAULT '0.00',
  `quotationNo` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `subtotal` decimal(18,2) NOT NULL DEFAULT '0.00',
  `terms` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `totalAmount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `workflowStatus` enum('DRAFT','SENT','APPROVED','REJECTED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DRAFT',
  PRIMARY KEY (`id`),
  UNIQUE KEY `Quotation_enquiryId_key` (`enquiryId`),
  UNIQUE KEY `Quotation_quotationNo_key` (`quotationNo`),
  KEY `Quotation_workflowStatus_idx` (`workflowStatus`),
  KEY `Quotation_approvalCancelledByUserId_idx` (`approvalCancelledByUserId`),
  CONSTRAINT `Quotation_approvalCancelledByUserId_fkey` FOREIGN KEY (`approvalCancelledByUserId`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `Quotation_enquiryId_fkey` FOREIGN KEY (`enquiryId`) REFERENCES `enquiry` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quotation`
--

LOCK TABLES `quotation` WRITE;
/*!40000 ALTER TABLE `quotation` DISABLE KEYS */;
/*!40000 ALTER TABLE `quotation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quotationline`
--

DROP TABLE IF EXISTS `quotationline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quotationline` (
  `id` int NOT NULL AUTO_INCREMENT,
  `quotationId` int NOT NULL,
  `itemId` int NOT NULL,
  `qty` decimal(18,3) NOT NULL,
  `rate` decimal(18,2) NOT NULL,
  `discountPct` decimal(18,2) NOT NULL DEFAULT '0.00',
  `gstPct` decimal(18,2) NOT NULL DEFAULT '18.00',
  `lineTotal` decimal(18,2) NOT NULL,
  `isFree` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `QuotationLine_quotationId_idx` (`quotationId`),
  KEY `QuotationLine_itemId_fkey` (`itemId`),
  CONSTRAINT `QuotationLine_itemId_fkey` FOREIGN KEY (`itemId`) REFERENCES `item` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `QuotationLine_quotationId_fkey` FOREIGN KEY (`quotationId`) REFERENCES `quotation` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quotationline`
--

LOCK TABLES `quotationline` WRITE;
/*!40000 ALTER TABLE `quotationline` DISABLE KEYS */;
INSERT INTO `quotationline` VALUES (1,1,3,1000.000,2.25,0.00,18.00,2655.00,0),(3,2,3,5000.000,1.25,0.00,18.00,7375.00,0),(6,3,2,150000.000,2.45,0.00,18.00,433650.00,0),(9,6,3,18000.000,2.25,0.00,18.00,47790.00,0),(10,7,2,1800.000,1.45,0.00,18.00,3079.80,0),(11,8,3,1800.000,1.75,0.00,18.00,3717.00,0),(12,9,2,2500.000,2.45,0.00,18.00,7227.50,0),(13,10,3,1500.000,5.25,0.00,18.00,9292.50,0),(14,11,2,15000.000,2.25,0.00,18.00,39825.00,0),(15,12,3,5800.000,2.25,0.00,18.00,15399.00,0);
/*!40000 ALTER TABLE `quotationline` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requirementsheet`
--

DROP TABLE IF EXISTS `requirementsheet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `requirementsheet` (
  `id` int NOT NULL AUTO_INCREMENT,
  `salesOrderId` int NOT NULL,
  `periodKey` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL,
  `version` int NOT NULL DEFAULT '1',
  `status` enum('DRAFT','LOCKED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DRAFT',
  `remarks` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `recalculatedAt` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `cycleId` int DEFAULT NULL,
  `docNo` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `RequirementSheet_salesOrderId_cycleId_periodKey_version_key` (`salesOrderId`,`cycleId`,`periodKey`,`version`),
  UNIQUE KEY `RequirementSheet_docNo_key` (`docNo`),
  KEY `RequirementSheet_salesOrderId_idx` (`salesOrderId`),
  KEY `RequirementSheet_periodKey_idx` (`periodKey`),
  KEY `RequirementSheet_status_idx` (`status`),
  KEY `RequirementSheet_cycleId_idx` (`cycleId`),
  CONSTRAINT `RequirementSheet_cycleId_fkey` FOREIGN KEY (`cycleId`) REFERENCES `salesordercycle` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `RequirementSheet_salesOrderId_fkey` FOREIGN KEY (`salesOrderId`) REFERENCES `salesorder` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requirementsheet`
--

LOCK TABLES `requirementsheet` WRITE;
/*!40000 ALTER TABLE `requirementsheet` DISABLE KEYS */;
/*!40000 ALTER TABLE `requirementsheet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requirementsheetline`
--

DROP TABLE IF EXISTS `requirementsheetline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `requirementsheetline` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sheetId` int NOT NULL,
  `itemId` int NOT NULL,
  `requirementQty` decimal(18,3) NOT NULL,
  `availableStockQtySnapshot` decimal(18,3) DEFAULT NULL,
  `gapPercentSnapshot` decimal(18,2) DEFAULT NULL,
  `suggestedWoQtySnapshot` decimal(18,3) DEFAULT NULL,
  `colorZoneSnapshot` enum('GREEN','YELLOW','RED','EXCESS') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `shortfallQtySnapshot` decimal(18,3) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `RequirementSheetLine_sheetId_itemId_key` (`sheetId`,`itemId`),
  KEY `RequirementSheetLine_sheetId_idx` (`sheetId`),
  KEY `RequirementSheetLine_itemId_idx` (`itemId`),
  CONSTRAINT `RequirementSheetLine_itemId_fkey` FOREIGN KEY (`itemId`) REFERENCES `item` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `RequirementSheetLine_sheetId_fkey` FOREIGN KEY (`sheetId`) REFERENCES `requirementsheet` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requirementsheetline`
--

LOCK TABLES `requirementsheetline` WRITE;
/*!40000 ALTER TABLE `requirementsheetline` DISABLE KEYS */;
/*!40000 ALTER TABLE `requirementsheetline` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rmpurchaseorder`
--

DROP TABLE IF EXISTS `rmpurchaseorder`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rmpurchaseorder` (
  `id` int NOT NULL AUTO_INCREMENT,
  `status` enum('PENDING','PARTIAL','COMPLETED','CANCELLED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `remarks` text COLLATE utf8mb4_unicode_ci,
  `supplierId` int NOT NULL,
  `supplierStateSnapshot` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `supplierStateCodeSnapshot` varchar(2) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `RmPurchaseOrder_status_idx` (`status`),
  KEY `RmPurchaseOrder_supplierId_idx` (`supplierId`),
  CONSTRAINT `RmPurchaseOrder_supplierId_fkey` FOREIGN KEY (`supplierId`) REFERENCES `supplier` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rmpurchaseorder`
--

LOCK TABLES `rmpurchaseorder` WRITE;
/*!40000 ALTER TABLE `rmpurchaseorder` DISABLE KEYS */;
/*!40000 ALTER TABLE `rmpurchaseorder` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rmpurchaseorderline`
--

DROP TABLE IF EXISTS `rmpurchaseorderline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rmpurchaseorderline` (
  `id` int NOT NULL AUTO_INCREMENT,
  `rmPoId` int NOT NULL,
  `itemId` int NOT NULL,
  `qty` decimal(18,3) NOT NULL,
  `rate` decimal(18,2) NOT NULL DEFAULT '0.00',
  `unit` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hsn` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gstRate` decimal(5,2) DEFAULT NULL,
  `amount` decimal(18,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `RmPurchaseOrderLine_rmPoId_idx` (`rmPoId`),
  KEY `RmPurchaseOrderLine_itemId_fkey` (`itemId`),
  CONSTRAINT `RmPurchaseOrderLine_itemId_fkey` FOREIGN KEY (`itemId`) REFERENCES `item` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `RmPurchaseOrderLine_rmPoId_fkey` FOREIGN KEY (`rmPoId`) REFERENCES `rmpurchaseorder` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rmpurchaseorderline`
--

LOCK TABLES `rmpurchaseorderline` WRITE;
/*!40000 ALTER TABLE `rmpurchaseorderline` DISABLE KEYS */;
INSERT INTO `rmpurchaseorderline` VALUES (1,1,1,500.000,165.00,'Kg','2312245',18.00,82500.00),(2,2,1,15000.000,175.00,'Kg','2312245',18.00,2625000.00),(3,3,1,500.000,175.00,'Kg','2312245',18.00,87500.00),(4,4,1,100.000,165.00,'Kg','2312245',18.00,16500.00),(5,5,1,500.000,175.00,'Kg','2312245',18.00,87500.00),(6,6,1,500.000,165.00,'Kg','2312245',18.00,82500.00),(7,7,1,500.000,135.00,'Kg','2312245',18.00,67500.00),(8,8,1,20.000,185.00,'Kg','2312245',18.00,3700.00);
/*!40000 ALTER TABLE `rmpurchaseorderline` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `salesbill`
--

DROP TABLE IF EXISTS `salesbill`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `salesbill` (
  `id` int NOT NULL AUTO_INCREMENT,
  `billNo` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `billDate` date NOT NULL,
  `customerId` int NOT NULL,
  `dispatchId` int NOT NULL,
  `remarks` text COLLATE utf8mb4_unicode_ci,
  `status` enum('DRAFT','FINALIZED','CANCELLED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DRAFT',
  `customerNameSnapshot` varchar(256) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `customerStateNameSnapshot` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `customerStateCodeSnapshot` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `dispatchNoSnapshot` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `dispatchDateSnapshot` datetime(3) DEFAULT NULL,
  `soIdSnapshot` int DEFAULT NULL,
  `isExported` tinyint(1) NOT NULL DEFAULT '0',
  `exportedAt` datetime(3) DEFAULT NULL,
  `exportedFileName` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `exportedById` int DEFAULT NULL,
  `exportResetAt` datetime(3) DEFAULT NULL,
  `exportResetReason` text COLLATE utf8mb4_unicode_ci,
  `exportResetById` int DEFAULT NULL,
  `finalizedAt` datetime(3) DEFAULT NULL,
  `finalizedById` int DEFAULT NULL,
  `cancelledAt` datetime(3) DEFAULT NULL,
  `cancelledById` int DEFAULT NULL,
  `cancelReason` text COLLATE utf8mb4_unicode_ci,
  `totalBasic` decimal(18,2) NOT NULL DEFAULT '0.00',
  `totalCgst` decimal(18,2) NOT NULL DEFAULT '0.00',
  `totalSgst` decimal(18,2) NOT NULL DEFAULT '0.00',
  `totalIgst` decimal(18,2) NOT NULL DEFAULT '0.00',
  `totalTax` decimal(18,2) NOT NULL DEFAULT '0.00',
  `netAmount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `cycleId` int DEFAULT NULL,
  `docNo` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `SalesBill_docNo_key` (`docNo`),
  KEY `SalesBill_billDate_idx` (`billDate`),
  KEY `SalesBill_status_idx` (`status`),
  KEY `SalesBill_customerId_idx` (`customerId`),
  KEY `SalesBill_dispatchId_idx` (`dispatchId`),
  KEY `SalesBill_isExported_idx` (`isExported`),
  KEY `SalesBill_exportedById_idx` (`exportedById`),
  KEY `SalesBill_exportResetById_idx` (`exportResetById`),
  KEY `SalesBill_finalizedById_idx` (`finalizedById`),
  KEY `SalesBill_cancelledById_idx` (`cancelledById`),
  KEY `SalesBill_cycleId_idx` (`cycleId`),
  CONSTRAINT `SalesBill_cancelledById_fkey` FOREIGN KEY (`cancelledById`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `SalesBill_customerId_fkey` FOREIGN KEY (`customerId`) REFERENCES `customer` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `SalesBill_cycleId_fkey` FOREIGN KEY (`cycleId`) REFERENCES `salesordercycle` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `SalesBill_dispatchId_fkey` FOREIGN KEY (`dispatchId`) REFERENCES `dispatch` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `SalesBill_exportedById_fkey` FOREIGN KEY (`exportedById`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `SalesBill_exportResetById_fkey` FOREIGN KEY (`exportResetById`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `SalesBill_finalizedById_fkey` FOREIGN KEY (`finalizedById`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `salesbill`
--

LOCK TABLES `salesbill` WRITE;
/*!40000 ALTER TABLE `salesbill` DISABLE KEYS */;
/*!40000 ALTER TABLE `salesbill` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `salesbillline`
--

DROP TABLE IF EXISTS `salesbillline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `salesbillline` (
  `id` int NOT NULL AUTO_INCREMENT,
  `salesBillId` int NOT NULL,
  `dispatchId` int DEFAULT NULL,
  `soId` int DEFAULT NULL,
  `itemId` int NOT NULL,
  `itemNameSnapshot` varchar(256) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `hsnCodeSnapshot` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `unitSnapshot` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `qty` decimal(18,3) NOT NULL,
  `rate` decimal(18,4) NOT NULL,
  `basicAmount` decimal(18,2) NOT NULL,
  `gstRate` decimal(5,2) NOT NULL,
  `cgstAmount` decimal(18,2) NOT NULL,
  `sgstAmount` decimal(18,2) NOT NULL,
  `igstAmount` decimal(18,2) NOT NULL,
  `lineTotal` decimal(18,2) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `SalesBillLine_salesBillId_idx` (`salesBillId`),
  KEY `SalesBillLine_itemId_idx` (`itemId`),
  KEY `SalesBillLine_dispatchId_idx` (`dispatchId`),
  KEY `SalesBillLine_soId_idx` (`soId`),
  CONSTRAINT `SalesBillLine_itemId_fkey` FOREIGN KEY (`itemId`) REFERENCES `item` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `SalesBillLine_salesBillId_fkey` FOREIGN KEY (`salesBillId`) REFERENCES `salesbill` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `salesbillline`
--

LOCK TABLES `salesbillline` WRITE;
/*!40000 ALTER TABLE `salesbillline` DISABLE KEYS */;
/*!40000 ALTER TABLE `salesbillline` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `salesorder`
--

DROP TABLE IF EXISTS `salesorder`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `salesorder` (
  `id` int NOT NULL AUTO_INCREMENT,
  `poId` int DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `orderType` enum('NORMAL','REPLACEMENT','NO_QTY') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'NORMAL',
  `customerReturnId` int DEFAULT NULL,
  `originalSalesOrderId` int DEFAULT NULL,
  `originalDispatchId` int DEFAULT NULL,
  `customerId` int DEFAULT NULL,
  `customerPoReference` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `internalStatus` enum('DRAFT','OPEN','APPROVED','IN_PROCESS','COMPLETED','CLOSED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DRAFT',
  `quotationId` int DEFAULT NULL,
  `remarks` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `currentCycleId` int DEFAULT NULL,
  `docNo` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `SalesOrder_poId_key` (`poId`),
  UNIQUE KEY `SalesOrder_customerReturnId_key` (`customerReturnId`),
  UNIQUE KEY `SalesOrder_quotationId_key` (`quotationId`),
  UNIQUE KEY `SalesOrder_currentCycleId_key` (`currentCycleId`),
  UNIQUE KEY `SalesOrder_docNo_key` (`docNo`),
  KEY `SalesOrder_orderType_idx` (`orderType`),
  KEY `SalesOrder_customerReturnId_idx` (`customerReturnId`),
  KEY `SalesOrder_customerId_idx` (`customerId`),
  KEY `SalesOrder_internalStatus_idx` (`internalStatus`),
  KEY `SalesOrder_currentCycleId_idx` (`currentCycleId`),
  CONSTRAINT `SalesOrder_currentCycleId_fkey` FOREIGN KEY (`currentCycleId`) REFERENCES `salesordercycle` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `SalesOrder_customerId_fkey` FOREIGN KEY (`customerId`) REFERENCES `customer` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `SalesOrder_customerReturnId_fkey` FOREIGN KEY (`customerReturnId`) REFERENCES `customerreturn` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `SalesOrder_poId_fkey` FOREIGN KEY (`poId`) REFERENCES `customerpo` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `SalesOrder_quotationId_fkey` FOREIGN KEY (`quotationId`) REFERENCES `quotation` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `salesorder`
--

LOCK TABLES `salesorder` WRITE;
/*!40000 ALTER TABLE `salesorder` DISABLE KEYS */;
/*!40000 ALTER TABLE `salesorder` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `salesordercycle`
--

DROP TABLE IF EXISTS `salesordercycle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `salesordercycle` (
  `id` int NOT NULL AUTO_INCREMENT,
  `salesOrderId` int NOT NULL,
  `cycleNo` int NOT NULL,
  `status` enum('ACTIVE','CLOSED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `closedAt` datetime(3) DEFAULT NULL,
  `reopenReason` text COLLATE utf8mb4_unicode_ci,
  `reopenedByUserId` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `SalesOrderCycle_salesOrderId_cycleNo_key` (`salesOrderId`,`cycleNo`),
  KEY `SalesOrderCycle_salesOrderId_idx` (`salesOrderId`),
  KEY `SalesOrderCycle_status_idx` (`status`),
  KEY `SalesOrderCycle_reopenedByUserId_fkey` (`reopenedByUserId`),
  CONSTRAINT `SalesOrderCycle_reopenedByUserId_fkey` FOREIGN KEY (`reopenedByUserId`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `SalesOrderCycle_salesOrderId_fkey` FOREIGN KEY (`salesOrderId`) REFERENCES `salesorder` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `salesordercycle`
--

LOCK TABLES `salesordercycle` WRITE;
/*!40000 ALTER TABLE `salesordercycle` DISABLE KEYS */;
INSERT INTO `salesordercycle` VALUES (1,14,1,'CLOSED','2026-04-28 12:05:20.508','2026-04-28 19:24:02.861',NULL,NULL),(2,14,2,'CLOSED','2026-04-28 19:25:30.825','2026-04-28 19:47:06.554','sdfsd',1),(3,14,3,'CLOSED','2026-04-28 19:47:06.572','2026-04-28 19:48:38.169','nlk',1),(4,14,4,'CLOSED','2026-04-29 08:45:20.520','2026-04-29 09:45:17.430','sds',1),(5,14,5,'CLOSED','2026-04-29 10:16:00.720','2026-04-29 10:24:55.111',NULL,NULL),(6,14,6,'CLOSED','2026-04-29 10:26:58.318','2026-04-29 14:01:39.024',NULL,NULL),(7,15,1,'ACTIVE','2026-04-29 18:27:46.622',NULL,NULL,NULL);
/*!40000 ALTER TABLE `salesordercycle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `salesorderline`
--

DROP TABLE IF EXISTS `salesorderline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `salesorderline` (
  `id` int NOT NULL AUTO_INCREMENT,
  `soId` int NOT NULL,
  `itemId` int NOT NULL,
  `qty` decimal(18,3) NOT NULL,
  `quotationLineId` int DEFAULT NULL,
  `isFree` tinyint(1) NOT NULL DEFAULT '0',
  `rate` decimal(18,4) NOT NULL DEFAULT '0.0000',
  `customerPoQty` decimal(18,3) NOT NULL DEFAULT '0.000',
  `bufferPercent` decimal(18,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`id`),
  KEY `SalesOrderLine_soId_idx` (`soId`),
  KEY `SalesOrderLine_itemId_fkey` (`itemId`),
  KEY `SalesOrderLine_quotationLineId_idx` (`quotationLineId`),
  CONSTRAINT `SalesOrderLine_itemId_fkey` FOREIGN KEY (`itemId`) REFERENCES `item` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `SalesOrderLine_quotationLineId_fkey` FOREIGN KEY (`quotationLineId`) REFERENCES `quotationline` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `SalesOrderLine_soId_fkey` FOREIGN KEY (`soId`) REFERENCES `salesorder` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `salesorderline`
--

LOCK TABLES `salesorderline` WRITE;
/*!40000 ALTER TABLE `salesorderline` DISABLE KEYS */;
INSERT INTO `salesorderline` VALUES (1,1,3,1000.000,1,0,0.0000,1000.000,0.00),(2,2,3,5000.000,3,0,0.0000,5000.000,0.00),(6,6,2,150000.000,6,0,0.0000,150000.000,0.00),(9,9,3,18000.000,9,0,0.0000,18000.000,0.00),(10,10,2,1800.000,10,0,0.0000,1800.000,0.00),(11,11,3,1800.000,11,0,0.0000,1800.000,0.00),(12,12,2,2625.000,12,0,0.0000,2500.000,5.00),(13,13,3,15300.000,13,0,0.0000,15000.000,2.00),(14,14,3,0.000,NULL,0,4.3500,0.000,0.00),(15,15,2,0.000,NULL,0,1.2500,0.000,0.00),(16,16,2,15750.000,14,0,0.0000,15000.000,5.00),(17,17,3,6090.000,15,0,0.0000,5800.000,5.00);
/*!40000 ALTER TABLE `salesorderline` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scraprecord`
--

DROP TABLE IF EXISTS `scraprecord`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scraprecord` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fgItemId` int NOT NULL,
  `workOrderId` int NOT NULL,
  `rejectedQty` decimal(18,3) NOT NULL,
  `reason` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `voidedAt` datetime(3) DEFAULT NULL,
  `qcEntryId` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ScrapRecord_fgItemId_date_idx` (`fgItemId`,`date`),
  KEY `ScrapRecord_workOrderId_idx` (`workOrderId`),
  KEY `ScrapRecord_qcEntryId_idx` (`qcEntryId`),
  CONSTRAINT `ScrapRecord_fgItemId_fkey` FOREIGN KEY (`fgItemId`) REFERENCES `item` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `ScrapRecord_qcEntryId_fkey` FOREIGN KEY (`qcEntryId`) REFERENCES `qcentry` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `ScrapRecord_workOrderId_fkey` FOREIGN KEY (`workOrderId`) REFERENCES `workorder` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scraprecord`
--

LOCK TABLES `scraprecord` WRITE;
/*!40000 ALTER TABLE `scraprecord` DISABLE KEYS */;
INSERT INTO `scraprecord` VALUES (1,3,4,200.000,NULL,'2026-04-24 11:14:09.829',NULL,4),(2,3,4,100.000,NULL,'2026-04-24 11:15:29.576',NULL,5),(3,2,7,100.000,NULL,'2026-04-24 16:59:30.581',NULL,8),(4,3,8,325.000,NULL,'2026-04-24 17:45:01.772',NULL,9),(5,3,9,135.000,NULL,'2026-04-28 12:26:15.727',NULL,10),(6,2,12,25.000,NULL,'2026-04-28 19:17:28.456',NULL,12),(7,3,13,38.000,NULL,'2026-04-28 19:38:41.268',NULL,13),(8,3,15,250.000,NULL,'2026-04-29 09:44:17.605',NULL,15),(9,3,18,150.000,NULL,'2026-04-29 11:51:36.226',NULL,18),(10,2,19,3000.000,NULL,'2026-04-29 18:29:12.125',NULL,19);
/*!40000 ALTER TABLE `scraprecord` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `state`
--

DROP TABLE IF EXISTS `state`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `state` (
  `id` int NOT NULL AUTO_INCREMENT,
  `stateName` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `stateCode` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `State_stateName_key` (`stateName`),
  UNIQUE KEY `State_stateCode_key` (`stateCode`),
  KEY `State_isActive_idx` (`isActive`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `state`
--

LOCK TABLES `state` WRITE;
/*!40000 ALTER TABLE `state` DISABLE KEYS */;
/*!40000 ALTER TABLE `state` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stockadjustmentqcentry`
--

DROP TABLE IF EXISTS `stockadjustmentqcentry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stockadjustmentqcentry` (
  `id` int NOT NULL AUTO_INCREMENT,
  `stockTransactionId` int NOT NULL,
  `salesOrderId` int NOT NULL,
  `itemId` int NOT NULL,
  `acceptedQty` decimal(18,3) NOT NULL,
  `rejectedQty` decimal(18,3) NOT NULL,
  `reason` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `reversedAt` datetime(3) DEFAULT NULL,
  `reversalReason` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `StockAdjustmentQcEntry_stockTransactionId_idx` (`stockTransactionId`),
  KEY `StockAdjustmentQcEntry_salesOrderId_itemId_idx` (`salesOrderId`,`itemId`),
  KEY `StockAdjustmentQcEntry_date_idx` (`date`),
  KEY `StockAdjustmentQcEntry_itemId_fkey` (`itemId`),
  CONSTRAINT `StockAdjustmentQcEntry_itemId_fkey` FOREIGN KEY (`itemId`) REFERENCES `item` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `StockAdjustmentQcEntry_salesOrderId_fkey` FOREIGN KEY (`salesOrderId`) REFERENCES `salesorder` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `StockAdjustmentQcEntry_stockTransactionId_fkey` FOREIGN KEY (`stockTransactionId`) REFERENCES `stocktransaction` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stockadjustmentqcentry`
--

LOCK TABLES `stockadjustmentqcentry` WRITE;
/*!40000 ALTER TABLE `stockadjustmentqcentry` DISABLE KEYS */;
/*!40000 ALTER TABLE `stockadjustmentqcentry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stocktransaction`
--

DROP TABLE IF EXISTS `stocktransaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stocktransaction` (
  `id` int NOT NULL AUTO_INCREMENT,
  `itemId` int NOT NULL,
  `transactionType` enum('GRN','ISSUE','PRODUCTION','QC','DISPATCH','SCRAP','ADJUSTMENT','BUCKET_TRANSFER','DISPATCH_REVERSAL','QC_REVERSAL','CUSTOMER_RETURN') COLLATE utf8mb4_unicode_ci NOT NULL,
  `refId` int NOT NULL,
  `qtyIn` decimal(18,3) NOT NULL DEFAULT '0.000',
  `qtyOut` decimal(18,3) NOT NULL DEFAULT '0.000',
  `date` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `reason` text COLLATE utf8mb4_unicode_ci,
  `createdByUserId` int DEFAULT NULL,
  `reversalOfId` int DEFAULT NULL,
  `reversedAt` datetime(3) DEFAULT NULL,
  `reversedByUserId` int DEFAULT NULL,
  `stockBucket` enum('USABLE','QC_HOLD','QC_PENDING','REWORK','SCRAP') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'USABLE',
  `qcRejectedDispositionId` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `StockTransaction_itemId_date_idx` (`itemId`,`date`),
  KEY `StockTransaction_transactionType_refId_idx` (`transactionType`,`refId`),
  KEY `StockTransaction_reversalOfId_idx` (`reversalOfId`),
  KEY `StockTransaction_createdByUserId_fkey` (`createdByUserId`),
  KEY `StockTransaction_reversedByUserId_fkey` (`reversedByUserId`),
  KEY `StockTransaction_stockBucket_itemId_idx` (`stockBucket`,`itemId`),
  KEY `StockTransaction_qcRejectedDispositionId_stockBucket_itemId_idx` (`qcRejectedDispositionId`,`stockBucket`,`itemId`),
  CONSTRAINT `StockTransaction_createdByUserId_fkey` FOREIGN KEY (`createdByUserId`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `StockTransaction_itemId_fkey` FOREIGN KEY (`itemId`) REFERENCES `item` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `StockTransaction_qcRejectedDispositionId_fkey` FOREIGN KEY (`qcRejectedDispositionId`) REFERENCES `qcrejecteddisposition` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `StockTransaction_reversalOfId_fkey` FOREIGN KEY (`reversalOfId`) REFERENCES `stocktransaction` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `StockTransaction_reversedByUserId_fkey` FOREIGN KEY (`reversedByUserId`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=111 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stocktransaction`
--

LOCK TABLES `stocktransaction` WRITE;
/*!40000 ALTER TABLE `stocktransaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `stocktransaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supplier`
--

DROP TABLE IF EXISTS `supplier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supplier` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contact` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `address` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gst` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `state` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stateId` int DEFAULT NULL,
  `stateCode` varchar(2) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stateName` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Supplier_stateId_idx` (`stateId`),
  KEY `Supplier_stateCode_idx` (`stateCode`),
  CONSTRAINT `Supplier_stateId_fkey` FOREIGN KEY (`stateId`) REFERENCES `state` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supplier`
--

LOCK TABLES `supplier` WRITE;
/*!40000 ALTER TABLE `supplier` DISABLE KEYS */;
INSERT INTO `supplier` VALUES (1,'PQR','464646546568',NULL,NULL,'27AKSJS1214A1Z5','2026-04-15 09:37:51.479','2026-04-17 07:49:44.298','Maharashtra',26,'27','Maharashtra');
/*!40000 ALTER TABLE `supplier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unit`
--

DROP TABLE IF EXISTS `unit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `unit` (
  `id` int NOT NULL AUTO_INCREMENT,
  `unitName` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `unitCode` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Unit_unitName_key` (`unitName`),
  UNIQUE KEY `Unit_unitCode_key` (`unitCode`),
  KEY `Unit_isActive_idx` (`isActive`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unit`
--

LOCK TABLES `unit` WRITE;
/*!40000 ALTER TABLE `unit` DISABLE KEYS */;
INSERT INTO `unit` VALUES (1,'Nos','NOS',1,'2026-04-15 09:25:12.586','2026-04-30 09:18:49.123'),(2,'Kg','KG',1,'2026-04-15 09:25:12.592','2026-04-30 09:18:49.133'),(3,'Meter','MTR',1,'2026-04-15 09:25:12.598','2026-04-30 09:18:49.139'),(4,'Box','BOX',1,'2026-04-15 09:25:12.603','2026-04-30 09:18:49.145'),(5,'Ltr','LTR',1,'2026-04-15 09:25:12.608','2026-04-30 09:18:49.154');
/*!40000 ALTER TABLE `unit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `passwordHash` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('ADMIN','SALES','STORE','PRODUCTION','QC','SUPERVISOR') COLLATE utf8mb4_unicode_ci NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `User_email_key` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workorder`
--

DROP TABLE IF EXISTS `workorder`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workorder` (
  `id` int NOT NULL AUTO_INCREMENT,
  `status` enum('PENDING','IN_PROGRESS','COMPLETED','REJECTED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `salesOrderId` int NOT NULL,
  `fgStockOverrideReason` text COLLATE utf8mb4_unicode_ci,
  `fgStockOverrideAt` datetime(3) DEFAULT NULL,
  `fgStockOverrideByUserId` int DEFAULT NULL,
  `requirementSheetId` int DEFAULT NULL,
  `cycleId` int DEFAULT NULL,
  `docNo` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `WorkOrder_requirementSheetId_key` (`requirementSheetId`),
  UNIQUE KEY `WorkOrder_docNo_key` (`docNo`),
  KEY `WorkOrder_status_idx` (`status`),
  KEY `WorkOrder_fgStockOverrideByUserId_idx` (`fgStockOverrideByUserId`),
  KEY `WorkOrder_salesOrderId_idx` (`salesOrderId`),
  KEY `WorkOrder_cycleId_idx` (`cycleId`),
  CONSTRAINT `WorkOrder_cycleId_fkey` FOREIGN KEY (`cycleId`) REFERENCES `salesordercycle` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `WorkOrder_fgStockOverrideByUserId_fkey` FOREIGN KEY (`fgStockOverrideByUserId`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `WorkOrder_requirementSheetId_fkey` FOREIGN KEY (`requirementSheetId`) REFERENCES `requirementsheet` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `WorkOrder_salesOrderId_fkey` FOREIGN KEY (`salesOrderId`) REFERENCES `salesorder` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workorder`
--

LOCK TABLES `workorder` WRITE;
/*!40000 ALTER TABLE `workorder` DISABLE KEYS */;
/*!40000 ALTER TABLE `workorder` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workorderline`
--

DROP TABLE IF EXISTS `workorderline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workorderline` (
  `id` int NOT NULL AUTO_INCREMENT,
  `workOrderId` int NOT NULL,
  `fgItemId` int NOT NULL,
  `qty` decimal(18,3) NOT NULL,
  `plannedQty` decimal(18,3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `WorkOrderLine_workOrderId_idx` (`workOrderId`),
  KEY `WorkOrderLine_fgItemId_idx` (`fgItemId`),
  CONSTRAINT `WorkOrderLine_fgItemId_fkey` FOREIGN KEY (`fgItemId`) REFERENCES `item` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `WorkOrderLine_workOrderId_fkey` FOREIGN KEY (`workOrderId`) REFERENCES `workorder` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workorderline`
--

LOCK TABLES `workorderline` WRITE;
/*!40000 ALTER TABLE `workorderline` DISABLE KEYS */;
INSERT INTO `workorderline` VALUES (1,1,3,1000.000,1000.000),(2,2,3,5000.000,5000.000),(3,3,2,150000.000,150000.000),(4,4,3,18000.000,18000.000),(5,5,3,300.000,300.000),(6,6,3,1800.000,1800.000),(7,7,2,2625.000,2625.000),(8,8,3,15300.000,15300.000),(9,9,3,3500.000,3500.000),(11,11,3,6500.000,6500.000),(12,12,2,1800.000,1800.000),(13,13,3,10000.000,10000.000),(14,14,3,2700.000,2700.000),(15,15,3,7000.000,7000.000),(16,16,3,11500.000,11500.000),(17,17,3,6563.000,6563.000),(18,18,3,18000.000,18000.000),(19,19,2,15000.000,15000.000),(20,20,2,15750.000,15750.000);
/*!40000 ALTER TABLE `workorderline` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-30 14:50:54
